# https://aistudio.google.com/app/api-keys
GEMINI_AI_API_KEY=""

# https://api.imgbb.com/
IMGBB_API_KEY=""

# https://programmablesearchengine.google.com/controlpanel/create
GOOGLE_IMAGE_API_KEY=""
GOOGLE_IMAGE_ENGINE_ID=""

# https://unsplash.com/developers
UNSPLASH_API_KEY=""

# https://newsdata.io/
NEWSDATA_IO_API_KEY=""